<h1 align=center style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
تفریحی
</font>
</h1>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مقدمه و صورت مسئله
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این تمرین قصد داریم به پیشبینی دلیل سفر کاربران بپردازیم. برخی از کاربران مستربلیط به دلیل کاری و برخی دیگر به دلایل تفریحی به سفر می‌روند. به منظور شخصی‌سازی بیشتر و دقیق‌تر، مستربلیط قصد دارد بداند هر بلیط به چه دلیلی رزرو می‌شود.
    <br>
    حال از داده‌هایی که در اختیارتان قرار گرفته است استفاده کنید و مدلی آموزش دهید که تفریحی یا کاری بودن سفر را تشخیص دهد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
وارد کردن کتابخانه‌های مورد نیاز
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    ابتدا کتابخانه‌های مورد نیازتان را وارد کنید.
</font>
</p>

In [1]:
import pandas as pd
import numpy as np

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معرفی مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
مجموعه داده آموزشی شامل ۱۰۱۰۱۷ سطر است که در جدول زیر، توضیحات هر ستون آمده است.
</font>
</p>

<center>
<div dir=rtl style="direction: rtl;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|:------:|:---:|
|Created|زمان ثبت بلیط|
|CancelTime|زمانی که مسافر بلیط را کنسل کرده است|
|DepartureTime|زمان حرکت|
|BillID|شناسه خرید|
|TicketID|شناسه بلیط|
|ReserveStatus|وضعیت پرداخت مشتری|
|UserID|شناسه کاربری|
|Male|آیا بلیط متعلق به زن است یا مرد|
|Price|قیمت بلیط بدون تخفیف|
|CouponDiscount|تخفیفی که شخص روی بلیط اعمال کرده است|
|From|مبدا سفر|
|To|مقصد سفر|
|Domestic|آیا سفر، داخلی است یا خارجی|
|VehicleType|جزئیات وسیله نقلیه را مشخص می‌کند|
|VehicleClass|آیا وسیله نقلیه، فرست‌کلس است یا نه|
|Vehicle|نوع وسیله نقلیه|
|Cancel|آیا بلیط کنسل شده‌است یا نه|
|HashPassportNumber_p|هش‌شده شماره پاسپورت|
|HashEmail|هش‌شده ایمیل|
|BuyerMobile|هش‌شده شماره موبایل|
|NationalCode|هش‌شده شماره‌ملی|
|TripReason|دلیل سفر|
    
</font>
</div>
</center>


<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    مجموعه داده آزمایش نیز مانند مجموعه آموزش است با این تفاوت که ستون <code>TripReason</code> که متغیر هدف مسئله است را در خود ندارد. مجموعه داده آزمایش ۴۳۲۹۳ سطر دارد.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
خواندن مجموعه داده
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در ابتدا نیاز است فایل‌های مجموعه‌داده را بخوانید. نمونه‌های آموزشی در فایل <code>train.csv</code> و نمونه‌های آزمون که باید دسته‌ی آن‌ها را پیش‌بینی کنید در فایل <code>test.csv</code> ذخیره شده‌اند. اگر لازم دانستید می‌توانید به دلخواه خود بخشی از دادگان آموزشی را به عنوان دادگان اعتبارسنجی نیز جدا کنید.
</font>
</p>

In [57]:
train_data = pd.read_csv('../data/train_data.csv', parse_dates=['DepartureTime'])
train_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,Domestic,VehicleType,VehicleClass,TripReason,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-10-23 09:38:49.110,NaN,2022-11-02 23:59:00,39710203,1091777.0,5,122885.0,True,6600000.0,34425.0,...,1,NaN,False,Work,Plane,0,NaN,66c7f29e3b92f3b77e20830ac29e7758037a53d2238a5b...,764974891906,477368495
1,2022-08-15 14:51:43.160,NaN,2022-08-18 04:15:00,38689463,1070902.0,5,876925.0,True,9500000.0,0.0,...,1,NaN,False,Int,Plane,0,NaN,b24634843858a4175d03422aa9e7211ec3b9f3ce4c481c...,27479149496,15987669
2,2022-09-20 17:25:27.250,NaN,2022-09-21 11:00:00,39245173,7624237.0,3,916640.0,False,2000000.0,0.0,...,1,VIP 2+1,True,Work,Bus,0,NaN,NaN,323657282999,667640412
3,2022-06-25 11:32:53.980,NaN,2022-06-26 08:30:00,37957585,2867547.0,2,NaN,False,40000.0,0.0,...,1,3 ستاره اتوبوسي,NaN,Int,Train,0,NaN,NaN,169459057632,392476186
4,2022-06-01 11:30:53.633,NaN,2022-06-02 23:00:00,37584530,7212559.0,3,NaN,True,1130000.0,0.0,...,1,اسکانیا تک صندلی ۳۱نفره,True,Int,Bus,0,NaN,NaN,408595008421,79497837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,NaN,2022-06-04 12:10:00,37579327,1050781.0,5,NaN,True,5900000.0,0.0,...,1,بوئینگ 737,False,Int,Plane,0,NaN,NaN,605105141718,103215806
101013,2022-10-29 20:54:31.330,NaN,2022-11-01 15:30:00,39789479,3085407.0,2,403095.0,True,926500.0,0.0,...,1,4 ستاره اتوبوسي نگين,NaN,Work,Train,0,NaN,NaN,414997568556,193262890
101014,2022-09-03 17:57:22.067,NaN,2022-09-13 09:30:00,38991563,2322052.0,5,528307.0,True,30000000.0,0.0,...,0,NaN,False,Int,InternationalPlane,0,47b8f2d9b5de7e0e0e7234c18a1aa0c4b35798e6cb46b4...,a4dcb7941ee3c8f7b1fc6a171015692bc961d65a84ad47...,99460830937,34732401
101015,2022-09-29 13:15:51.303,NaN,2022-09-29 17:30:00,39406503,7664730.0,3,797946.0,True,980000.0,0.0,...,1,25 نفره (VIP),True,Work,Bus,0,NaN,718bc52c3e88520531463b385998a1193e2821d518b60b...,487489926847,458338866
101016,2022-03-31 13:29:11.530,NaN,2022-04-05 17:10:00,36742809,2711094.0,2,NaN,True,3168000.0,0.0,...,1,4 ستاره 4 تخته ارگ,NaN,Work,Train,0,NaN,da0821178342aeaab37bb1e44c162660c7d3196ae2f987...,146462381941,999949622

In [58]:
test_data = pd.read_csv('../data/test_data.csv', parse_dates=['DepartureTime'])
test_data

,Created,CancelTime,DepartureTime,BillID,TicketID,ReserveStatus,UserID,Male,Price,CouponDiscount,...,To,Domestic,VehicleType,VehicleClass,Vehicle,Cancel,HashPassportNumber_p,HashEmail,BuyerMobile,NationalCode
0,2022-07-22 12:52:35.293,NaN,2022-08-03 17:00:00,38372770,7429183.0,3,NaN,False,1220000.0,0.0,...,اصفهان,1,ماهانVIP مانیتوردار کاوه,True,Bus,0,NaN,7ec2bc45a1a56014c60beb9e6ae72e748563f270b5961e...,855578545022,752371627
1,2022-05-16 10:55:29.397,2022-05-18 11:35:15.643,2022-05-19 17:00:00,37348034,7147402.0,5,NaN,True,2830000.0,0.0,...,قم,1,VIP 2+1 / سیستم تهویه مطبوع / تخت شو,True,Bus,1,NaN,09731a27ab7323fa8a65a5d61a6f6cdf5b127a5d89d1af...,687891042993,926996211
2,2022-02-13 16:10:33.870,NaN,2022-02-15 22:45:00,36058084,6817410.0,3,NaN,True,1480000.0,0.0,...,اردبیل,1,25 نفره (VIP),True,Bus,0,NaN,NaN,515831406373,890191812
3,2022-05-01 17:56:18.530,NaN,2022-05-06 14:30:00,37140430,7093047.0,3,NaN,False,2450000.0,0.0,...,شیراز,1,Scania VIP 2+1,True,Bus,0,NaN,NaN,349742111820,941450742
4,2022-05-19 18:40:48.760,NaN,2022-05-21 12:30:00,37393459,2789874.0,2,135424.0,True,1965500.0,0.0,...,تهران,1,3 ستاره 6 تخته كوير,NaN,Train,0,NaN,a9b7344fa6dffcd85117f3b4209a379600a66019dbfb57...,63387630789,575541645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-10-06 16:57:16.053,NaN,2022-10-07 21:00:00,39515216,7693401.0,3,NaN,True,800000.0,0.0,...,زاهدان,1,classicus 2+2,True,Bus,0,NaN,084471d0e58161bf494c8d540208e17d2b3cb0ea3eff70...,793972140866,560495589
43289,2022-06-14 13:19:26.413,NaN,2022-06-18 07:15:00,37773311,1055789.0,5,NaN,False,7827000.0,0.0,...,تهران,1,NaN,False,Plane,0,NaN,NaN,574095530769,194295556
43290,2022-10-23 15:48:03.947,NaN,2022-10-23 20:25:00,39714891,7747506.0,3,NaN,False,370000.0,0.0,...,قم,1,مارال تک صندلی ۳۰نفره,True,Bus,0,NaN,NaN,82614935547,704290882
43291,2022-09-18 21:18:01.730,2022-09-19 15:40:44.707,2022-09-20 20:00:00,39215621,7620724.0,5,950877.0,True,2520000.0,0.0,...,مسجدسلیمان,1,VIP 2+1 / شارژر یو اس بی / سیستم تهویه مطبوع ...,True,Bus,1,NaN,57f1cffdba91d23d66f923c5defcd40caa8d317f8bcfbc...,242545550300,513968890
43292,2022-07-27 22:08:17.510,2022-07-30 19:19:29.357,2022-08-03 21:00:00,38449571,7451530.0,5,633165.0,True,2150000.0,0.0,...,تهران,1,VIP درسا مانیتوردار با پک بهداشتی,True,Bus,1,NaN,NaN,965279078669,20749399

In [59]:
train_data.isna().sum()

Created                      0
CancelTime               85691
DepartureTime                0
BillID                       0
TicketID                     0
ReserveStatus                0
UserID                   58474
Male                         0
Price                        0
CouponDiscount               0
From                         0
To                           0
Domestic                     0
VehicleType               7544
VehicleClass             38450
TripReason                   0
Vehicle                      0
Cancel                       0
HashPassportNumber_p    100155
HashEmail                57933
BuyerMobile                  0
NationalCode                 0
dtype: int64

In [60]:
train_data = train_data.drop('HashPassportNumber_p', axis =1)
train_data = train_data.drop('CancelTime', axis =1)
train_data = train_data.drop('HashEmail', axis =1)
train_data = train_data.drop('BuyerMobile', axis =1)
train_data = train_data.drop('BillID', axis =1)
train_data = train_data.drop('TicketID', axis =1)
train_data = train_data.drop('NationalCode', axis =1)
train_data = train_data.drop('UserID', axis =1)
train_data = train_data.drop('VehicleClass', axis =1)







train_data

,Created,DepartureTime,ReserveStatus,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,TripReason,Vehicle,Cancel
0,2022-10-23 09:38:49.110,2022-11-02 23:59:00,5,True,6600000.0,34425.0,گرگان,تهران,1,NaN,Work,Plane,0
1,2022-08-15 14:51:43.160,2022-08-18 04:15:00,5,True,9500000.0,0.0,مشهد,تهران,1,NaN,Int,Plane,0
2,2022-09-20 17:25:27.250,2022-09-21 11:00:00,3,False,2000000.0,0.0,شیراز,اهواز,1,VIP 2+1,Work,Bus,0
3,2022-06-25 11:32:53.980,2022-06-26 08:30:00,2,False,40000.0,0.0,تبریز,جلفا,1,3 ستاره اتوبوسي,Int,Train,0
4,2022-06-01 11:30:53.633,2022-06-02 23:00:00,3,True,1130000.0,0.0,تهران,نجف آباد (اصفهان ),1,اسکانیا تک صندلی ۳۱نفره,Int,Bus,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101012,2022-06-01 00:20:14.280,2022-06-04 12:10:00,5,True,5900000.0,0.0,شیراز,کیش,1,بوئینگ 737,Int,Plane,0
101013,2022-10-29 20:54:31.330,2022-11-01 15:30:00,2,True,926500.0,0.0,میانه,تهران,1,4 ستاره اتوبوسي نگين,Work,Train,0
101014,2022-09-03 17:57:22.067,2022-09-13 09:30:00,5,True,30000000.0,0.0,نجف,تهران,0,NaN,Int,InternationalPlane,0
101015,2022-09-29 13:15:51.303,2022-09-29 17:30:00,3,True,980000.0,0.0,اصفهان,یزد,1,25 نفره (VIP),Work,Bus,0
101016,2022-03-31 13:29:11.530,2022-04-05 17:10:00,2,True,3168000.0,0.0,کرمان,تهران,1,4 ستاره 4 تخته ارگ,Work,Train,0

In [61]:
train_data = train_data.dropna(subset=['VehicleType'])

train_data.isna().sum()

Created           0
DepartureTime     0
ReserveStatus     0
Male              0
Price             0
CouponDiscount    0
From              0
To                0
Domestic          0
VehicleType       0
TripReason        0
Vehicle           0
Cancel            0
dtype: int64

In [62]:
test_data = test_data.drop('HashPassportNumber_p', axis =1)
test_data = test_data.drop('CancelTime', axis =1)
test_data = test_data.drop('HashEmail', axis =1)
test_data = test_data.drop('BuyerMobile', axis =1)
test_data = test_data.drop('BillID', axis =1)
test_data = test_data.drop('TicketID', axis =1)
test_data = test_data.drop('NationalCode', axis =1)
test_data = test_data.drop('UserID', axis =1)
test_data = test_data.drop('VehicleClass', axis =1)






test_data

,Created,DepartureTime,ReserveStatus,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,Vehicle,Cancel
0,2022-07-22 12:52:35.293,2022-08-03 17:00:00,3,False,1220000.0,0.0,تهران,اصفهان,1,ماهانVIP مانیتوردار کاوه,Bus,0
1,2022-05-16 10:55:29.397,2022-05-19 17:00:00,5,True,2830000.0,0.0,مشهد (خراسان ),قم,1,VIP 2+1 / سیستم تهویه مطبوع / تخت شو,Bus,1
2,2022-02-13 16:10:33.870,2022-02-15 22:45:00,3,True,1480000.0,0.0,کرج,اردبیل,1,25 نفره (VIP),Bus,0
3,2022-05-01 17:56:18.530,2022-05-06 14:30:00,3,False,2450000.0,0.0,همدان,شیراز,1,Scania VIP 2+1,Bus,0
4,2022-05-19 18:40:48.760,2022-05-21 12:30:00,2,True,1965500.0,0.0,زاهدان,تهران,1,3 ستاره 6 تخته كوير,Train,0
...,...,...,...,...,...,...,...,...,...,...,...,...
43288,2022-10-06 16:57:16.053,2022-10-07 21:00:00,3,True,800000.0,0.0,کرمان,زاهدان,1,classicus 2+2,Bus,0
43289,2022-06-14 13:19:26.413,2022-06-18 07:15:00,5,False,7827000.0,0.0,یزد,تهران,1,NaN,Plane,0
43290,2022-10-23 15:48:03.947,2022-10-23 20:25:00,3,False,370000.0,0.0,تهران,قم,1,مارال تک صندلی ۳۰نفره,Bus,0
43291,2022-09-18 21:18:01.730,2022-09-20 20:00:00,5,True,2520000.0,0.0,تهران,مسجدسلیمان,1,VIP 2+1 / شارژر یو اس بی / سیستم تهویه مطبوع ...,Bus,1
43292,2022-07-27 22:08:17.510,2022-08-03 21:00:00,5,True,2150000.0,0.0,ایلام,تهران,1,VIP درسا مانیتوردار با پک بهداشتی,Bus,1

In [63]:
len(set(train_data['VehicleType'].to_numpy()))

3108

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
پیش‌پردازش و مهندسی ویژگی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    در این سوال شما می‌توانید از هر تکنیک پیش‌پردازش/مهندسی ویژگی که در فصل‌های گذشته آموختید، استفاده کنید.
    <br>
    تکنیک‌هایی که استفاده می‌کنید به شکل مستقیم مورد ارزیابی توسط سامانه داوری قرار <b>نمی‌گیرند.</b> بلکه همه آن‌ها در دقت مدل شما تاثیر خواهند گذاشت؛ بنابراین هر چه پیش‌پردازش/مهندسی ویژگی بهتری انجام دهید تا دقت مدل بهبود پیدا کند، امتیاز بیشتری از این سوال کسب خواهید کرد.
</font>
</p>

In [64]:
# do some preprocessing 
trip_months= [6, 7, 8, 9]
train_data['DepartureTime_day']= train_data['DepartureTime'].dt.day
train_data['DepartureTime_month']= train_data['DepartureTime'].dt.month
train_data['DepartureTime_year']= train_data['DepartureTime'].dt.year

train_data['is_vacation']= [month in trip_months for month in train_data['DepartureTime_month']]


test_data['DepartureTime_day']= test_data['DepartureTime'].dt.day
test_data['DepartureTime_month']= test_data['DepartureTime'].dt.month
test_data['DepartureTime_year']= test_data['DepartureTime'].dt.year

test_data['is_vacation']= [month in trip_months for month in test_data['DepartureTime_month']]

test_data = test_data.drop('DepartureTime', axis =1)
train_data = train_data.drop('DepartureTime', axis =1)

test_data = test_data.drop('Created', axis =1)
train_data = train_data.drop('Created', axis =1)
train_data

C:\Users\User\AppData\Local\Temp\ipykernel_8884\4288139563.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['DepartureTime_day']= train_data['DepartureTime'].dt.day
C:\Users\User\AppData\Local\Temp\ipykernel_8884\4288139563.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['DepartureTime_month']= train_data['DepartureTime'].dt.month
C:\Users\User\AppData\Local\Temp\ipykernel_8884\4288139563.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['DepartureTime_year']= train_data['DepartureTime'].dt.year
C:\Users\User\AppData\Local\Temp\ipykernel_8884\4288139563.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data['is_vacation']= [month in trip_months for month in train_data['DepartureTime_month']]

,ReserveStatus,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,TripReason,Vehicle,Cancel,DepartureTime_day,DepartureTime_month,DepartureTime_year,is_vacation
2,3,False,2000000.0,0.0,شیراز,اهواز,1,VIP 2+1,Work,Bus,0,21,9,2022,True
3,2,False,40000.0,0.0,تبریز,جلفا,1,3 ستاره اتوبوسي,Int,Train,0,26,6,2022,True
4,3,True,1130000.0,0.0,تهران,نجف آباد (اصفهان ),1,اسکانیا تک صندلی ۳۱نفره,Int,Bus,0,2,6,2022,True
5,3,True,940000.0,60000.0,بروجرد,تهران,1,VIP 25 نفره مانیتور دار,Work,Bus,0,18,2,2022,False
6,5,True,9289000.0,0.0,تهران,شیراز,1,فوکر 100,Work,Plane,0,11,7,2022,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101011,2,False,4832000.0,0.0,ارومیه,مشهد,1,4ستاره4تخته سبز,Int,Train,0,29,8,2022,True
101012,5,True,5900000.0,0.0,شیراز,کیش,1,بوئینگ 737,Int,Plane,0,4,6,2022,True
101013,2,True,926500.0,0.0,میانه,تهران,1,4 ستاره اتوبوسي نگين,Work,Train,0,1,11,2022,False
101015,3,True,980000.0,0.0,اصفهان,یزد,1,25 نفره (VIP),Work,Bus,0,29,9,2022,True
101016,2,True,3168000.0,0.0,کرمان,تهران,1,4 ستاره 4 تخته ارگ,Work,Train,0,5,4,2022,False

In [65]:
from sklearn.preprocessing import LabelEncoder

lable_encoder = LabelEncoder()


def My_LabelEncoder(x):
    train_data[x]= lable_encoder.fit_transform(train_data[x])
    test_data[x]= lable_encoder.transform(test_data[x])
categorical_cols = ['Male','Vehicle']
for i in categorical_cols:
    My_LabelEncoder(i)
    
 
# do some preprocessing
mapping = {'Work': 0,
           'Int' : 1}

train_data['TripReason'] = train_data['TripReason'].map(mapping)

train_data

,ReserveStatus,Male,Price,CouponDiscount,From,To,Domestic,VehicleType,TripReason,Vehicle,Cancel,DepartureTime_day,DepartureTime_month,DepartureTime_year,is_vacation
2,3,0,2000000.0,0.0,شیراز,اهواز,1,VIP 2+1,0,0,0,21,9,2022,True
3,2,0,40000.0,0.0,تبریز,جلفا,1,3 ستاره اتوبوسي,1,3,0,26,6,2022,True
4,3,1,1130000.0,0.0,تهران,نجف آباد (اصفهان ),1,اسکانیا تک صندلی ۳۱نفره,1,0,0,2,6,2022,True
5,3,1,940000.0,60000.0,بروجرد,تهران,1,VIP 25 نفره مانیتور دار,0,0,0,18,2,2022,False
6,5,1,9289000.0,0.0,تهران,شیراز,1,فوکر 100,0,2,0,11,7,2022,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101011,2,0,4832000.0,0.0,ارومیه,مشهد,1,4ستاره4تخته سبز,1,3,0,29,8,2022,True
101012,5,1,5900000.0,0.0,شیراز,کیش,1,بوئینگ 737,1,2,0,4,6,2022,True
101013,2,1,926500.0,0.0,میانه,تهران,1,4 ستاره اتوبوسي نگين,0,3,0,1,11,2022,False
101015,3,1,980000.0,0.0,اصفهان,یزد,1,25 نفره (VIP),0,0,0,29,9,2022,True
101016,2,1,3168000.0,0.0,کرمان,تهران,1,4 ستاره 4 تخته ارگ,0,3,0,5,4,2022,False

In [66]:
test_data = test_data.drop('From', axis =1)
train_data = train_data.drop('From', axis =1)

test_data = test_data.drop('To', axis =1)
train_data = train_data.drop('To', axis =1)

test_data = test_data.drop('VehicleType', axis =1)
train_data = train_data.drop('VehicleType', axis =1)

In [67]:
mapping = {False: 0,
           True : 1}

train_data['is_vacation'] = train_data['is_vacation'].map(mapping)
test_data['is_vacation'] = test_data['is_vacation'].map(mapping)


test_data

,ReserveStatus,Male,Price,CouponDiscount,Domestic,Vehicle,Cancel,DepartureTime_day,DepartureTime_month,DepartureTime_year,is_vacation
0,3,0,1220000.0,0.0,1,0,0,3,8,2022,1
1,5,1,2830000.0,0.0,1,0,1,19,5,2022,0
2,3,1,1480000.0,0.0,1,0,0,15,2,2022,0
3,3,0,2450000.0,0.0,1,0,0,6,5,2022,0
4,2,1,1965500.0,0.0,1,3,0,21,5,2022,0
...,...,...,...,...,...,...,...,...,...,...,...
43288,3,1,800000.0,0.0,1,0,0,7,10,2022,0
43289,5,0,7827000.0,0.0,1,2,0,18,6,2022,1
43290,3,0,370000.0,0.0,1,0,0,23,10,2022,0
43291,5,1,2520000.0,0.0,1,0,1,20,9,2022,1
43292,5,1,2150000.0,0.0,1,0,1,3,8,2022,1

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
مدل‌سازی
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    حال که داده را پاکسازی کرده و احتمالا ویژگی‌هایی را به آن افزوده یا از آن حذف کرده‌اید، وقت آن است که مدلی آموزش دهید که بتواند متغیر هدف این مسئله را پیش‌بینی کند.
    <br>
    بر خلاف سایر تمرین‌های کالج، در این تمرین شما مجاز هستید از هر مدلی که آموخته‌اید استفاده کنید. به عبارت بهتر، هدف این سوال پیش‌بینی هرچه بهتر متغیر هدف مسئله است. انتظار ما این است که نحوه کار با کتابخانه‌های یادگیری ماشین را در حدی آموخته باشید که بتوانید با بهترین عملکرد، مسئله را حل کنید!
</font>
</p>

In [68]:
# modeling 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import RandomForestClassifier

model = AdaBoostClassifier(estimator=RandomForestClassifier(n_estimators=2),n_estimators=10,random_state=44,learning_rate=1) 


x_train =train_data.drop(['TripReason'] , axis = 1)
model.fit(x_train.to_numpy(), train_data['TripReason'])

AdaBoostClassifier(estimator=RandomForestClassifier(n_estimators=2),
                   learning_rate=1, n_estimators=10, random_state=44)

<h3 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
معیار ارزیابی
</font>
</h3>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    معیاری که برای ارزیابی عملکرد مدل انتخاب کرده‌ایم، <code>f1_score</code> نام دارد.
    <br>
    این معیار، سنجه ارزیابی کیفیت مدل شماست. به عبارت بهتر در سامانه داوری هم از همین معیار برای نمره‌دهی استفاده شده است.
    <br>
    پیشنهاد می‌شود با توجه به این معیار، عملکرد مدل خود را بر روی مجموعه داده آموزش یا اعتبارسنجی ارزیابی کنید.
</font>
</p>

In [69]:
# evaluate model
from sklearn.metrics import  f1_score, classification_report, confusion_matrix



y_pred= model.predict(x_train.to_numpy())
prediction = f1_score(train_data['TripReason'], y_pred, pos_label=1)
prediction

0.9296605879520452

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font color="red"><b color='red'>توجه:</b></font>
<font face="vazir" size=3>
 جهت کسب امتیاز کامل نیاز است تا پاسخ شما حداقل امتیاز <code>75%</code> را با توجه به معیار معرفی‌شده کسب نماید.
</font>
</p>

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
 پیش‌بینی برای داده تست و خروجی
</font>
</h2>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    پس از مهندسی ویژگی و مدلسازی، الگوریتمی دارید که می‌تواند شما را از متغیرهای مستقل به متغیر هدف برساند.
    <br>
    از این مدل برای پیش‌بینی نمونه‌های موجود در داده تست استفاده کنید و نتایج را در قالب جدول (<code>dataframe</code>) زیر آماده کنید.
</font>
</p>

<div dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
|ستون|توضیحات|
|------|---|
|TripReason|دلیل سفر|
    
</font>
</div>

<p dir=rtl style="direction: rtl;text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    اسم دیتافریم باید <i>submission</i> باشد؛ در غیر این صورت، سامانه داوری نمی‌تواند تلاش‌ شما را ارزیابی کند.
    <br>
    این دیتافریم تنها شامل ۱ ستون با اسم <i>TripReason</i> است و ۴۳۲۹۳ سطر دارد.
    <br>
    به ازای هر سطر موجود در دیتافریم <i>test</i> شما باید یک مقدار پیشبینی شده داشته باشید.
    <br>
    جدول زیر، ۵ سطر ابتدایی دیتافریم <code>submission</code> را نشان می‌دهد. البته در جواب شما، مقادیر ستون <i>TripReason</i> ممکن است متفاوت باشد.
</font>
</p>

<div style="text-align: right;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
    
||TripReason|
|----|-----|
|0|Work|
|1|Work|
|2|Int|
|3|Int|
|4|Work|

</font>
</div>

In [70]:
# predict test samples
submission = pd.DataFrame()
submission['TripReason']=model.predict(test_data.to_numpy())
mapping = {0: 'Work',
           1 : 'Int'}

submission['TripReason'] = submission['TripReason'].map(mapping)

<h2 align=right style="line-height:200%;font-family:vazir;color:#0099cc">
<font face="vazir" color="#0099cc">
<b>سلول جواب‌ساز</b>
</font>
</h2>

<p dir=rtl style="direction: rtl; text-align: justify; line-height:200%; font-family:vazir; font-size:medium">
<font face="vazir" size=3>
    برای ساخته‌شدن فایل <code>result.zip</code> سلول زیر را اجرا کنید. توجه داشته باشید که پیش از اجرای سلول زیر تغییرات اعمال شده در نت‌بوک را ذخیره کرده باشید (<code>ctrl+s</code>) تا در صورت نیاز به پشتیبانی امکان بررسی کد شما وجود داشته باشد.
</font>
</p>

In [71]:
import zipfile
import joblib

def compress(file_names):
    print("File Paths:")
    print(file_names)
    compression = zipfile.ZIP_DEFLATED
    with zipfile.ZipFile("result.zip", mode="w") as zf:
        for file_name in file_names:
            zf.write('./' + file_name, file_name, compress_type=compression)
            
submission.to_csv('submission.csv', index=False)
file_names = ['tafrihi.ipynb', 'submission.csv']
compress(file_names)

File Paths:
['tafrihi.ipynb', 'submission.csv']